{
    "packages": [
        {
            "package": "Plex",
            "version": "{{version}}",
            "dname": "Plex",
            "desc": "Latest Plex package pulled directly",
            "maintainer": "Test",
            "maintainer_url": "http://test",
            "distributor": "test",
            "distributor_url": "https://test",
            "start": false,
            "qstart": false,
            "qinst": true,
            "qupgrade": true,
            "thumbnail": [
                "https://www.plex.tv/wp-content/themes/plex/assets/img/plex-logo.svg"
            ],
            "snapshot": [
                "https://www.plex.tv/wp-content/themes/plex/assets/img/plex-logo.svg"
            ],
            "link": "{{link}}",
            "md5": "{{md5}}",
            "sha256": "{{sha256}}",
            "size": "{{size}}"
        }
    ]
}